# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# Virtual environments
venv/
.env/
.drl/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Logs and models
logs/
tb_sac_portfolio/
models/

# Data
data/raw/
data/processed/


